.main {
    padding-top: 22px;
    padding-bottom: 110px;
}

.main__caption {
    margin: 0;
    margin-bottom: 12px;

    font-weight: 400;
    letter-spacing: -.012em;
}

.main__container {
    padding-left: 50px;
    padding-right: 50px;
}

.main__video {
    width: 100%;

    outline: none;
}

@media screen and (max-width:760px) {
    .main {
        padding-bottom: 25px;
    }

    .main__caption {
        margin-top: 35px;
        margin-bottom: 55px;
    }
}

@media screen and (max-width:576px) {
    .main__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main__video {
        height: 350px;
    }
}
